<header class='top-page-header'>
  <div class='page-icon'>
    <%= link_to image_tag("good-look.png", class:"good-look-icon"), "/" %>
  </div>
  <div class='nav'>
    <ul class='lists'>
     <% if user_signed_in? %>
      <li><%= link_to "こんにちは#{current_user.family_name}さん", "#", class: "current-name"%>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%>
     <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>

     <% end %>
    </ul>
  </div>
  <% if user_signed_in? %>
    <div class='new-plan'>
      <%= link_to '新規作成', new_spot_path, class: "plan-btn" %>
    </div>
  <% end %>
  
</header>